$primary-color: #373737;
$accent-color: #ff6b6b;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

main {
  width: 90%;
  margin: 0 auto;
}

.icon {
  width: 25px;
  height: 25px;
}

.model-form {
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px;
  background-color: $primary-color;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  input {
    height: 30px;
    font-size: 16px;
  }
  button {
    height: 30px;
    font-size: 16px;
    background-color: $accent-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $accent-color;
    }
  }
}