$primary-color: #373737;
$accent-color: #ff6b6b;
$spacing: 15px;
$vertical-spacing: 30px;

:root {
  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --spacing: #{$spacing};
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

main {
  width: 90%;
  margin: 0 auto;
}

//Mixins
@mixin button {
  height: $vertical-spacing;
  font-size: 16px;
  background-color: $accent-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

// Global styles
.icon {
  width: 25px;
  height: 25px;
}

.error {
  color: red;
  font-size: 18px;
}

.form-wrapper {
  width: min(1100px, 100%);
  margin-inline: auto;
}

.model-form {
  margin: $vertical-spacing 0;
  border-radius: 5px;
  padding: $spacing;
  background-color: $primary-color;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  input, select {
    height: $vertical-spacing;
    font-size: 16px;
  }
  button {
    @include button;
  }
}